apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  # Name of the ApplicationSet
  name: multi-app-applicationset

  # ApplicationSet must live in argocd namespace
  namespace: argocd

  # Annotations to subscribe to notifications
  annotations:
    notifications.argoproj.io/subscribe.on-deployed.email: "true"
    notifications.argoproj.io/subscribe.on-health-degraded.email: "true"
    notifications.argoproj.io/subscribe.on-sync-failed.email: "true"


spec:
  # Git directory generator
  generators:
  - git:
      # Repository containing application manifests
      repoURL: https://github.com/MrSharma151/argocd-demos.git

      # Branch to track
      revision: main

      # One ArgoCD Application will be created per directory
      directories:
      - path: applicationsets/chai-app
      - path: declarative_approach/online-shop

  # Template used to generate ArgoCD Applications
  template:
    metadata:
      # Application name derived from directory name
      # chai-app        → chai-app
      # online-shop     → online-shop
      name: '{{path.basename}}'

    spec:
      # ArgoCD project
      project: devops-project

      source:
        # Git source details
        repoURL: https://github.com/MrSharma151/argocd-demos.git
        targetRevision: main

        # Directory path for this application
        path: '{{path}}'

      destination:
        # Deploy into the same cluster where ArgoCD is running
        server: https://kubernetes.default.svc

        # Each app deploys into its own namespace
        namespace: '{{path.basename}}'

      syncPolicy:
        automated:
          # Delete resources removed from Git
          prune: true

          # Revert manual changes automatically
          selfHeal: true
